<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" />
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
</head>

    <body class="no-skin">
    <header>
        <div class="head_main clearfix">
            <a href="javascript:;" class="fl logo_link fl">
                <img src="img/logo.png" alt="阿毛logo消失了" />
            </a>
            <div class="fl click_nav clearfix"><span class="fl">首页</span><img src="img/bottom.png"  class="fl"/></div>
            <ul class="nav_row fl clearfix">
                <li class="nav_item active active_mouse">
                    <a  href="">首页</a>
                </li>
                <li class="nav_item active_mouse">
                    <a  href="">专栏</a>
                </li>
                <li class="nav_item active_mouse">
                    <a  href="">收藏集</a>
                </li>
                <li class="nav_item active_mouse">
                    <a  href="">发现</a>
                </li>
            </ul>
            <img src="img/touxiang.png" class="tx_icon fr" />
            <div class="fr news_icon active_mouse"></div>
            <div class="fr add_icon active_mouse"></div>
            <form class="search_form fr clearfix">
                <input maxlength="32" placeholder="搜索Popon" class="fl"><img src="img/search.png"  alt="搜索" class="search_icon fl">
            </form>
        </div>
    </header>
    <div class="sub_nav_main">
        <ul class="sub_nav_list clearfix">
            <li class="sub_nav_item fl active active_mouse">
                <a href="">我关注的</a>
            </li>
            <li class="sub_nav_item fl active_mouse">
                <a href="">前端</a>
            </li>
            <li class="sub_nav_item fl active_mouse">
                <a href="">前端</a>
            </li>
            <li class="sub_nav_item fl active_mouse">
                <a href="">前端</a>
            </li>
            <li class="sub_nav_item fl active_mouse">
                <a href="">前端</a>
            </li>
            <li class="sub_nav_item fl active_mouse">
                <a href="">前端</a>
            </li>
            <li class="sub_nav_item fl active_mouse">
                <a href="">前端</a>
            </li>
            <li class="sub_nav_item fl active_mouse">
                <a href="">前端</a>
            </li>
            <a href="javascript:;" class="fr active_mouse title_manage ">标签管理</a>
        </ul>
    </div>
    <div class="content_main clearfix">
        <dl class="fl index_list">
            <dt class="clearfix title_list">
            <ul  class="nav_list_left clearfix fl">
                <li  class="nav-item  active_mouse fl active" ><a  href="">热门</a></li>
                <li  class="nav-item  active_mouse fl" ><a  href="">最新</a></li>
                <li  class="nav-item  active_mouse fl" ><a  href="">评论</a></li>
            </ul>
            <ul  class="nav_list_right clearfix fr">
                <li  class="nav-item  active_mouse fl active" ><a  href="">本周热门</a></li>
                <li  class="nav-item  active_mouse fl" ><a  href="">本周最新</a></li>
                <li  class="nav-item  active_mouse fl" ><a  href="">本周评论</a></li>
            </ul>
            </dt>
            <dd>
                <ul class="index_main_list">
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <!-- <img src="img/index_18.png"  class="fr middle_right"/> -->
                            <div class="middle_left fl">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <img src="img/index_18.png"  class="fr middle_right"/>
                            <div class="middle_left fl width_90">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <!-- <img src="img/index_18.png"  class="fr middle_right"/> -->
                            <div class="middle_left fl">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <img src="img/index_18.png"  class="fr middle_right"/>
                            <div class="middle_left fl width_90">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <!-- <img src="img/index_18.png"  class="fr middle_right"/> -->
                            <div class="middle_left fl">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <img src="img/index_18.png"  class="fr middle_right"/>
                            <div class="middle_left fl width_90">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <!-- <img src="img/index_18.png"  class="fr middle_right"/> -->
                            <div class="middle_left fl">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                    <li class="index_list_item">
                        <div class="list_top clearfix">
                            <a class="recommended fl ">荐</a>
                            <a class="post fl">专栏</a>
                            <a class="name fl">根号三</a>
                            <a class="time fl">4小时前</a>
                            <a class="tag fl">Vue.js</a>
                        </div>
                        <div class="list_middle clearfix">
                            <img src="img/index_18.png"  class="fr middle_right"/>
                            <div class="middle_left fl width_90">
                                <h1 class="list_main_title txt_limit">聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2聊聊技术选型 - Angular2 vs Vue2</h1>
                                <div class="list_bottom clearfix">
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><a href="javascript:;">赞&nbsp;<span>5</span></a></li>
                                        <li class="fl"><a href="javascript:;">评论&nbsp;<span>5</span></a></li>
                                    </ul>
                                    <ul class="fl clearfix action_list">
                                        <li class="fl"><img src="img/share.png" alt="分享" /></li>
                                        <li class="fl"><img src="img/collect.png" alt="收藏" /></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- width_90是有图片 middle_left宽度类-->
                        </div>
                    </li>
                </ul>
            </dd>
        </dl>
        <div class="fr index_aside">
            <div class="aside_list">
                <img src="img/gg_img.png" />
            </div>
            <dl class="aside_list recommend_gg">
                <dt>你可能感兴趣的人</dt>
                <dd>
                    <a href="javascript:;" class="clearfix">
                        <img src="img/go.jpg" class="fl recommend_tx" />
                        <div class="recommend_txt fl">
                            <h1 class="txt_limit">吴振海</h1>
                            <p class="txt_limit">资深安卓工程师，后端开发人员</p>
                        </div>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="clearfix">
                        <img src="img/go.jpg" class="fl recommend_tx" />
                        <div class="recommend_txt fl">
                            <h1 class="txt_limit">崔神</h1>
                            <p class="txt_limit">IOS创始人</p>
                        </div>
                    </a>
                </dd>
                <dd>
                    <a href="javascript:;" class="clearfix">
                        <img src="img/go.jpg" class="fl recommend_tx" />
                        <div class="recommend_txt fl">
                            <h1 class="txt_limit">崔神</h1>
                            <p class="txt_limit">IOS创始人</p>
                        </div>
                    </a>
                </dd>
            </dl>
        </div>

    </div>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/nav.js"></script>

    </body>
</html>
