<div class="page-content">
    <div class="col-sm-6 pull-right">
        <button class="btn btn-sm btn-primary pull-right" onclick="history.go(-1)">
            返回列表
            <i class="icon-reply icon-only"></i>
        </button>
    </div>
    <div class="page-header">
        <h1>
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {:input('id')?'编辑':'新增'}
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form" action="add_article" method="post" name="myfrom">
                {:input('id')?'<input type="hidden" value="'.$info['id'].'" name="id">':''}

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">技能分类</label>
                    <select id="tech_select" name="tech_id" style="margin-left: 12px;width: 150px">
                        <option value="0">--请选择--</option>
                        {volist name="tech_list" id="tech"}
                        <option class="col-xs-10 col-sm-5" value="{$tech.tech_id}">{$tech.tech_name}</option>
                        {/volist}
                    </select>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">模块分类</label>
                    <select id="module_select" name="module_id" style="margin-left: 12px;width: 150px">
                        <option value="0">--请选择--</option>
                        <!--{volist name="module_list" id="module"}-->
                        <!--<option class="col-xs-10 col-sm-5"   value="{$module.module_id}"> {$module.module_name}</option>-->
                        <!--{/volist}-->
                    </select>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">话题分类</label>
                    <select id="topic_select" name="topic_id" style="margin-left: 12px;width: 150px">
                        <option value="0">--请选择--</option>
                        <!--{volist name="topic_list" id="topic"}-->
                        <!--<option class="col-xs-10 col-sm-5"   value="{$topic.topic_id}">{$topic.topic_name}"</option>-->
                        <!--{/volist}-->
                    </select>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章难度</label>
                    <select name="article_diff" style="margin-left: 12px;width: 150px">
                        <option value="0">--请选择--</option>
                        {volist name="article_diff_list" id="diff"}
                        <option class="col-xs-10 col-sm-5" value="{$diff.article_diff_id} ">{$diff.article_diff_name}
                        </option>
                        {/volist}
                    </select>
                </div>


                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章标题</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.article_title|default=''}"
                               name="article_title"/>
                    </div>
                </div>
                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章描述</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.article_content|default=''}"
                               name="article_content"/>
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">文章链接</label>
                    <div class="col-sm-9">
                        <input type="text" class="col-xs-10 col-sm-5" value="{$info.article_url|default=''}"
                               name="article_url"/>
                    </div>
                </div>
                <div class="space-4"></div>


                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" onclick="myfrom.submit() ">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            重置
                        </button>
                    </div>
                </div>
            </form>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
<script>

    $("#tech_select").change(function () {

        var tech_name = $(this).find("option:selected").text();
        var tech_id = $(this).find("option:selected").val();


        $.post("/admin/Article/ajax_tech_list",
                {
                    tech_name: tech_name,
                    tech_id: tech_id,
                },
                function (data) {
//                    $("#module_select").html(data);
                    console.log(data);
                    data = JSON.parse(data);

                    var html = '<option value="0" >--请选择--</option>';
                    for (var i = 0; i < data.length; i++) {
                        html += '  <option class="col-xs-10 col-sm-5" value="' + data[i].module_id + '">' + data[i].module_name + '</option>';
                    }

                    $("#module_select").html(html);
                });
    });


    $("#module_select").change(function () {
        var module_name = $(this).find("option:selected").text();
        var module_id = $(this).find("option:selected").val();

        $.post("/admin/Article/ajax_module_list",
                {
                    module_name: module_name,
                    module_id: module_id,
                },
                function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    var html = '<option value="0" >--请选择--</option>';
                    for (var i = 0; i < data.length; i++) {
                        html += '  <option class="col-xs-10 col-sm-5" value="' + data[i].topic_id + '">' + data[i].topic_name + '</option>';
                    }
                    $("#topic_select").html(html);
                });
    });

</script>
